@use "../libs/variables.scss";
@use "../libs/mixins.scss";

.page__body {
  font-family: "PT Sans", "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  /*Сглаживание текста*/
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: variables.$basic-light;
}

.page__container {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: variables.$basic-white;
}
