@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.advantagers__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.advantagers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px;

  &:first-of-type {
    padding-top: 54px;
    padding-bottom: 40px;
  }

  &--pre-photo {
    background-color: variables.$special-cold-normal;
    color: variables.$basic-white;
    padding-top: 39px;
    padding-bottom: 35px;
  }

  &--photo {
    min-height: 260px;
    position: relative;
  }

  @mixin benefits {
    justify-content: start;
    display: grid;
    grid-template-columns: 40px auto;
    row-gap: 16px;
    padding: 11px 18px;
  }

  @mixin benefits-icon {
    content: "";
    display: block;
    aspect-ratio: 1 / 1;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-self: start;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--housing {
    @include benefits;
    column-gap: 7px;
    padding-top: 23px;

    &::before {
      @include benefits-icon;
      background-image: url("../../../img/hause.svg");
    }
  }

  &--eat {
    @include benefits;
    column-gap: 12px;

    &::before {
      @include benefits-icon;
      background-image: url("../../../img/eat.svg");
    }
  }

  &--souvenirs {
    @include benefits;
    column-gap: 4px;
    padding-bottom: 52px;

    &::before {
      @include benefits-icon;
      background-image: url("../../../img/present.svg");
    }
  }

  &--housing .advantages__title,
  &--eat .advantages__title,
  &--souvenirs .advantages__title {
    margin-top: 8px;
    margin-bottom: 0;
    text-align: left;
  }

  &--housing .advantages__description,
  &--eat .advantages__description,
  &--souvenirs .advantages__description {
    text-align: left;
  }

  &--group {
    background-color: variables.$basic-light;
    padding: 26px 35px;
    position: relative;
  }

  &--group + &--group {
    padding-top: 23px;
  }

  &--group + &--group::after {
    background-color: variables.$basic-gray;
    content: "";
    position: absolute;
    height: 1px;
    top: -2px;
    left: 18px;
    right: 18px;
  }
}

.advantagers__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.advantages__description + .advantages__description {
  margin-top: 17px;
}

.advantages__title {
  @include mixins.header-2;
  margin-bottom: 11px;
}

.advantages__description {
  @include mixins.paragraph;
}
