@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.search {
  padding: 38px 18px;
  padding-bottom: 49px;
  display: flex;
  flex-direction: column;
}

.search__title {
  @include mixins.header-2;
  margin-bottom: 20px;
}

.search__description {
  @include mixins.paragraph;
}

.search__button {
  margin-top: 32px;
}
