@use "../libs/variables.scss";
@use "../libs/mixins.scss";

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}
