@use "../../components/variables.scss";
@use "../../components/mixins.scss";

.main-nav {
  position: relative;
}

.main-nav__toggle {
  cursor: pointer;
  font: inherit;
  display: block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: 63px;
  height: 56px;
  position: relative;
  float: right;
  z-index: 3;
  background-image: url("../../../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 220ms all ease-in-out;
  color: variables.$special-cold-normal;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: none;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
