@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.site-list {
  list-style: none;
}

.site-list__item {
  display: block;
  position: relative;
  background-color: variables.$special-cold-normal;
  color: variables.$basic-white;

  @include mixins.mobile {
    &:not(:last-child)::after {
      content: "";
      display: block;
      height: 1px;
      box-shadow: inset 0 1px 0 rgba(1, 1, 1, 0.2);
    }

    &:last-child::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }

    &:not(:first-child) {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    }
  }

  @include mixins.tablet {
    background-color: transparent;
    color: variables.$basic-black;

    &--active {
      color: variables.$special-warm-light;
    }
  }
}

.site-list__item a {
  display: block;
  font: inherit;
  padding: 17px 20px 12px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  @include mixins.tablet {
    font-size: 14px;
    line-height: 21px;
    padding: 18px 20px 17px 20px;

    &:hover {
      color: variables.$special-cold-normal;
    }

    &:active {
      color: rgba(variables.$basic-black, 0.3);
    }
  }
}
