.footer {
  padding-top: 28.5px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__hashtag {
  text-decoration: none;
  margin-bottom: 33px;
}

.footer__social {
  margin-bottom: 34px;
}
