@use "../../libs/variables.scss";
@use "../../libs/mixins.scss";

.footer {
  padding-top: 28.5px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.tablet {
    padding: 36px 0px;
    flex-direction: row;
    justify-content: space-around;
  }

  @include mixins.desktop {
    padding: 36px 105px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__hashtag {
  @include mixins.header-2;
  color: variables.$basic-black;
  text-decoration: none;
  margin-bottom: 33px;
  font-size: 21px;
  line-height: 26px;

  @include mixins.tablet {
    min-width: 166px;
    text-align: center;
    margin-bottom: 0;
  }
}

.footer__social {
  @include mixins.mobile {
    margin-bottom: 40px;
  }
}

.footer__copyright {
  @include mixins.tablet {
    min-width: 166px;
    text-align: center;
  }
}
